<!DOCTYPE html>
<html lang="en">
<head>
    <title>Padasalai Clone</title>
</head>
<body>
    <h1>Welcome to Padasalai</h1>
    <a href="/resources">View Resources</a>
    <a href="/resources/upload">Upload Resources</a>
</body>
</html>
