<!DOCTYPE html>
<html lang="en">
<head>
    <title>Resources</title>
</head>
<body>
    <h1>All Resources</h1>
    <ul>
        <% resources.forEach(resource => { %>
            <li>
                <h3><%= resource.title %></h3>
                <p><%= resource.description %></p>
                <a href="<%= resource.fileUrl %>" download>Download</a>
            </li>
        <% }) %>
    </ul>
    <a href="/resources/upload">Upload More Resources</a>
</body>
</html>
