<h1>Resources</h1>
<ul>
    <% resources.forEach(resource => { %>
        <li>
            <strong>Title:</strong> <%= resource.title %><br>
            <strong>Description:</strong> <%= resource.description %><br>
            <a href="<%= resource.fileUrl %>">Download File</a>
        </li>
    <% }) %>
</ul>
<a href="/resources/upload">Upload a Resource</a>
