<h1>Upload a Resource</h1>
<form action="/resources/upload" method="POST" enctype="multipart/form-data">
    <label>Title: <input type="text" name="title" required></label><br>
    <label>Description: <input type="text" name="description" required></label><br>
    <label>File: <input type="file" name="file" required></label><br>
    <button type="submit">Upload</button>
</form>
